{% extends 'base.html' %}

{% block content %}

<h1>Welcome</h1>
<br>




<br>

{% if api %}
    {% if api == "Error..." %}
        There was an error. please try again
    {% else %}
        <div class="jumbotron {{ category_color }}">
            <h1 class="display-4">{{ api.0.Category.Name }}</h1>
            <!-- <hr class="my-4"> -->
            <h2>Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</h2>

           {{ category_description }}

            
        </div>
        <br>
    {% endif %}

{% endif %}



{% endblock %}