{% extends 'base.html' %}

{% block content %}

<h1>Welcome</h1>
<br>




<br>

{% if api %}
    {% if api == "Error..." %}
        There was an error. please try again
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4">{{ api.0.Category.Name }}</h1>
            <!-- <hr class="my-4"> -->
            <p>Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>
            <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
        </div>
        <br>
    {% endif %}

{% endif %}



{% endblock %}